
<%= form_for trick do |f| %>
  <%= f.hidden_field :cat_ids %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>

  <br>

  <div>
    <%= f.submit %>
  </div>

<% end %>
