<%= form_for trick do |f| %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>

  <br>

  <div class="field">
    <%= f.label :description, 'Description:' %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
