<h2><%= @cat.name %></h2>

<p>Color: <%= @cat.color %></p>

<% if @cat.tricks.count > 0 %>
  <ul>
    <% @cat.cat_tricks.each_with_index do |trick, i| %>
      <li><strong><%= link_to Trick.find_by_id(trick.trick_id).name, trick_path(trick.trick_id) %></strong> (Rating: <%= trick.rating %>) <%= link_to "Update progress", edit_cat_trick_path(trick) %></li>
    <% end %>
  </ul>
<% else %>
  Your cat doesn't know anything yet!
<% end %>
