<%= render partial: 'cat', locals: {cat: @cat} %>

<hr />
<p>
  <% if current_user == @cat.user %>
     <%= link_to "Edit Cat's Details", edit_cat_path(@cat) %>
     <br /><br />
     <%= link_to "Delete Cat", cat_path(@cat), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</p>

<hr />

<strong>Most Recent Comment</strong>

<div>
    <div class="cat_comment">
      <%= @cat.comment.last.created_at.strftime("%B %-d, %Y") %><br /><%= @cat.comment.last.body %>
    </div>
</div>

<%= link_to "See All Comments", cat_comments_path(@cat) %>
<br />
<%= link_to "Add Comment", new_cat_comment_path(@cat) %>
